basePath: /api/v1
info:
  contact: {}
  description: API server for voice agent platform
  title: Voice Backend API
  version: 1.0.0
paths: {}
securityDefinitions:
  APIKeyAuth:
    in: header
    name: X-API-Key
    type: apiKey
  SessionAuth:
    in: cookie
    name: session
    type: apiKey
swagger: "2.0"
